body {
  background-color: white;
}

.menu {
  color: black;
}

.main-menu {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 650px;
}
.one {
  position: fixed;
  left: 680px;
  top: 250px;
  font-weight: bold;
  color: white;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: lightgray;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  width: 180px;
}
.two {
  position: fixed;
  left: 680px;
  top: 440px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: lightgray;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  width: 300px;
}
.three {
  position: fixed;
  left: 680px;
  top: 640px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: lightgray;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  width: 230px;
}
